/* Tambahkan style berikut ke dalam file CSS Anda */
.transition-color {
    transition: background-color 0.3s ease-in-out;
    transform: translateY(10px);
  }
  
  .transition-color:hover {
    background-color: blue;
    transform: translateY(0);
  }
  